.container {
    background-color: white;
    color: white;
    border-radius: 20px;
    border-color: aliceblue;
    box-shadow: rgba(97, 97, 97, 0.1) 0px 0px 16px;
    padding: 3rem 5rem;
}

.title {
    font-size: 2rem;
    color: black;
    margin-bottom: 10;
    font-weight: 400;
}

.subtitle {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    color: gray;
}
